{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="container">
    <div class="row justify-content-center mt-4 mb-4 ">
        <center><h3>{% block title %} Recupere su Contraseña {% endblock  %}</h1></center>            
    </div>
    
    <div class="row justify-content-center ">
    </div>
    
    <form method="post"class="form-group mb-4 mt-4">
        <div class="row justify-content-center w-50 mx-auto">
            <p class="text-center">¿Olvidó su contraseña? Ingrese su correo electrónico, y le enviaremos instrucciones para crear una nueva.</p>

            {% csrf_token %}
            {{form|crispy}}
            <div class="row justify-content-center ml-5 mt-4 mb-0 mr-5">
                {% for message in messages %}
                    <p id="messages">{{message}}</p>
                {% endfor %}
            </div>
            <div class="text-center w-100">
                <button type="submit" class="btn btn-primary ml-5 mt-3 mb-1 mr-5 w-50">Enviar</button>
            </div>
        </div>
        <div class="d-flex justify-content-center links my-3">
            <span class="mx-1">¿Tenes una cuenta? Cliqueá </span>
            <a href="{% url 'cuentas:login' %}" class="ml-2 mb-4"> acá</a>
        </div>
    </form>
</section>


{% endblock %}