{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center mt-4 mb-4">
    <center><h3>{% block title %} Ingrese su nueva contraseña {% endblock  %}</h2></center>            
</div>

<div class="row justify-content-center">
    <p>Por favor ingrese su contraseña nuevamente y verifique que sea correcta.</p>
</div>

<form method="post" class="container">
        {% csrf_token %}
        {{form|crispy}}
        <input type="Submit" name="Update Password">
</form>

{% endblock %}