{% extends 'base.html' %}

{% block content %}


<div class="row justify-content-center mt-4 mb-4">
    <center><h3>{% block title %} Le hemos enviado un correo electrónico con instrucciones {% endblock  %}</h3></center>            
</div>

<div class="row justify-content-center">
    
    <p>Si ha ingresado correctamente la dirección de correo electrónico recibirá una notificación en breve.</p>

    <p>Si no ha recibido la notificación, por favor asegúrese de que la dirección de correo electrónico registrada sea correcta, y verifique la carpeta spam de su correo.</p>

</div>

{% endblock %}